*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
a{
  color:white;
  text-decoration: none;
  margin-left:10px;
  cursor: pointer;
}
a:visited
{
  color:white;
}
nav{
  display: flex;
  background-color: midnightblue;
  padding:10px;
}
.form-group
{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.register-container{
  width: 300px;
  margin:auto;
}
button{
  width: 120px;
  padding:10px;
}